@media only screen and (orientation: portrait) and (max-device-width:540px) {
    body,main,header {
        width:100%;
        margin: 0;
        }
    .navbar-desktop, .flex-container-3, .desktopMain, .section,
    .exhibit, footer, .fourth-main-section {
        display: none;
    }
    header {
        background-color: white;
        width: 100%;
        height: 64px;
        border-bottom: 1px solid grey;
    }
    ul li {
        position: relative;
        top: 10px;
        left: 3px;
    }
    li {
        display: inline;
    }
    .center-img {
        display: inline-block;
        width: 40px;
        margin-left: 45px;
        cursor: pointer;
    }
    .flex-container-mobile {
        background-color: #d2d4c8;
        height: 580px;
    }
    .img-banner-mobile {
        width: 100%;
        padding: 0 1px 1px 1px;
        margin-bottom: 32px;
    }
    .flex-items-mobile-1 {
        margin-left: 16px;
    }
    .learn-mobile {
        color: #463f3a;
        font-size: 30px;
        margin-bottom: 32px;
    }
    .lorem-mobile {
        color: #463f3a;
        font-size: 14px;
        font-weight: 550;
        margin-bottom: 24px;
        line-height: 20px;
    }
    .btn-mobile {
        background-color: #706d6a;
        color: white;
        width: 345px;
        height: 50px;
        border-radius: 5px;
        border: none;
        font-size: 18px;
    }
    .btn-mobile:hover {
        cursor: pointer;
        color: #dad7cd;
        box-shadow: 0 7px 16px 0 rgba(0,0,0,0.24)
    }
    .flex-container-4 {
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
    .flex-items-5 {
        margin-bottom: 32px;
    }
    .or-mobile {
        width: 100%;
    }
    .first-or-mobile {
        color: #44413f;
        font-size: 20px;
        font-weight: 550;
        margin-left: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .second-or-mobile {
        color: #545050;
        font-size: 15px;
        margin-left: 16px;
        margin-bottom: 8px;
    }
    .third-or-mobile {
        color: #0096c7;
        font-size: 15px;
        font-weight: bold;
        margin-left: 16px;
    }
    .mobile-section {
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
    .start-learning-mobile {
        color: #635e5a;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .course-div {
        background-color: #9b99969b;
        height: 60px;
        margin-bottom: 18px;
        padding: 20px 16px 24px 16px;
        border-radius: 10px;
    }
    .course-mobile {
        color: #3a3834;
        font-size: 18px;
        font-weight: bold;
    }
    div.mobile-section-2 {
        margin-top: 32px;
    }
    .exhibit-mobile {
        color: #3b3734;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-top: 32px;
        margin-bottom: 16px;
    }
    .video {
        width: 100%;
        margin-bottom: 24px;
    }
    .footer-mobile {
        height: 65px;
    }
    .copyright-mobile {
        font-weight: 500;
        color: #495057;
        font-size: 12px;
        margin-left: 16px;
        margin-top: 16px;
    }
}